*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
    height: 4px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(114, 113,113);
    border-radius: 10px;
    height: 200px !important;
}

a{
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}


.search-bar{
    border: none;
    outline: none;
    width: 350px;
    font-size: 17px;
}

.category-btn{
    font-weight: bold !important;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: start;
    background: transparent;
    outline: none;
    border: none;
    padding: 7px 15px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: all 0.3s ease;    
}

.category-btn:hover{
    background-color: #76323f !important;
    color: #fff !important;
}

.category-btn:hover span{
    color: white !important;
}

.react-player{
    height: 77vh !important;
    width: 100% !important;
}

@media screen and (max-width:600px){
    .search-bar{
        width: 200px;
    }

    .react-player{
        height: 45vh !important;
    }
}